
/* parent-imposed, 
Display, 
box model, 
positions, 
alignments, 
transforms, 
colours, 
filters, 
animations, 
transitions */

@font-face{
	font-family: "digital7";
	src: url("assets/fonts/digital-7 (mono).ttf");
}

html{
	font-size: 20px;
	font-family: sans-serif;
}

#wrapper{
	display: flex;
	align-items: center;
	flex-direction: column;
}

#wrapper>header{
	display: flex;
	height: 4rem;
	align-items: center;
}

h1{
	font-size: 2rem;
}

#calculator{
	width: 550px;
	height: 800px;
	border-radius: 15px;
	background-color: #222222;
}

/* this selector is equivalent to using class selector, 
allowing id style to be overwritten by class style */
[id="screen"]{
	display: flex; 
	width: 500px;
	height: 200px;
	padding-right: 3%;
	position: relative;
	justify-content: flex-end;
	align-items: center;
	top: 25px;
	left: 25px;
	font-size: 10rem;
	font-family: digital7, sans-serif;
	background-color: #4a6053;
	color: black;
}

.powered{
	background-color: #6c8275; 
}

/* BUTTONS */

#buttons{
	display: grid;
	width: 500px;
	height: 500px;
	position: relative;
	left: 25px;
	top: 50px;
	grid-template-areas: 	"mrc   memminus memplus   perc     power"
						 	"seven eight    nine      sqrt     index"
							"four  five     six       subtract divide"
							"one   two      three     add      multiply"
							"zero  decimal  plusminus add      equals";
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 5px;
}

#buttons>button{
	border: 1px solid;
	font-size: 2rem;
}

	#buttons>button:hover{
		border: 1px solid white;
		outline: 3px blue;
		background-color: #AAAAAA;
	}


.power{
	grid-area: power;
	background-color: red;
}

/* NUMBERS */

.one{
	grid-area: one;
}

.two{
	grid-area: two;
}

.three{
	grid-area: three;
}

.four{
	grid-area: four;
}

.five{
	grid-area: five;
}

.six{
	grid-area: six;
}

.seven{
	grid-area: seven;
}

.eight{
	grid-area: eight;
}

.nine{
	grid-area: nine;
}

.zero{
	grid-area: zero;
}

/* OPERATIONS */

.subtract{
	grid-area: subtract;
}

.divide{
	grid-area: divide;
}

.add{
	grid-area: add;
}

.multiply{
	grid-area: multiply;
}

.equals{
	grid-area: equals;
}

.sqrt{
	grid-area: sqrt;
}

.index{
	grid-area: index;
}

.mrc{
	grid-area: mrc;
}
.memminus{
	grid-area: memminus;
}

.memplus{
	grid-area: memplus;
}
.percent{
	grid-area: perc;
}

.decimal{
	grid-area: decimal;
}

.plusminus{
	grid-area: plusminus;
}
